apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-170382623
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-170382623
    app.kubernetes.io/part-of: test-app-170382623
  name: java-quarkus-170382623
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: java-quarkus-170382623
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: java-quarkus-170382623
    spec:
      containers:
      - image: quay.io/hacdev/izi2vv3a-tenant/test-app-170382623/java-quarkus-170382623@sha256:890529c4ae28ed664cebb3306d27821a83dc6f301f0adac2d4e611aae72fcd77
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
